.git
.gitignore
.gitattributes
.github

.env
.env.*
!.env.example

node_modules
vendor
composer.phar

storage/logs/*
!storage/logs/.gitkeep
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
bootstrap/cache/*.php

database/*.sqlite
database/*.sqlite-journal

.phpunit.result.cache
.phpactor.json
.idea
.vscode
.zed
.DS_Store

Dockerfile
docker-compose.yml
.dockerignore
README.md
